*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins';
}


.fondo-nav{
    background: rgb(245, 209, 209);
    height: 100vh;
}


.logo{
    width: 25%;
    height: 25%;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 25px;
}


.caja-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}


.lista, .lista-casa, .lista-tlf{
    color: rgb(0, 74, 96);
    font-family: 'Poppins'; 
    font-size: 15px;
    font-weight: bold;
    /*margin-top: 30px;*/
    /*margin-right: 30px;*/
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lista:hover{
    color: white;
    border-bottom: 2px solid white;
}

.fa {
    font-size: 20px;
    margin-right: 5px;
    color: rgb(0, 74, 96);
}

.fa:hover {
    color: #fff;
}

.fa-paw, .fa-file, .fa-calendar-check {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.fa-phone {
    color: #fff;
    font-size: 17px;
    margin-right: 10px;
}

/*.fab {
    font-size: 20px;
    margin-right: 5px;
    color: rgb(0, 74, 96);
}*/

.lista-casa:hover{
    color: white;
    border-bottom: 2px solid white;
}


.lista-tlf{
    color: white; 
    background: rgb(0, 74, 96);
    padding: 10px;
    border-radius: 10px;
    margin-right: 1em;
}


.lista-tlf:hover{
opacity: 0.8;
}

/*CONTENIDO 1 - TEMA E IMAGEN*/
.contenido1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 539px;
/*    width: 100vw;*/
}

.contenedor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-bottom: 2em;
}

.header-izq{
    color:rgb(0, 74, 96); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /*padding-left: 4em;*/
}

.header-dere {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tema{
    font-size: 65px;
    font-weight: bold;
    /*padding: 1em 0;*/
    line-height: 1em;
    margin-bottom: 15px;
}

.contenedor-titulo {
    width: auto;
    height: auto;
}

.texto-domi{ 
    font-size: 20px;
    /*margin: 10px;*/
}

.btn-visita{
    font-size: 15px;
    /*margin: 10px;*/
    color: white; 
    background: rgb(0, 74, 96);
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    margin-top: 1.7em;
    transition: .4s;
}

/*.btn-visita img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 5px;
}
*/
.img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    /*margin-left: 10px; */
}

.btn-visita:hover{
    cursor: pointer;
    opacity: 0.8;
}


/*CONTENIDO 2 - ACERCA DE MI*/
.contenido2{
    display: flex;
    /*flex-direction: row;
*/    justify-content: center;
    align-items: center;
    /*margin-top:60px ;*/
    /*margin-left: 25em;*/
    height: 100%;
    width: 100%;
    color: rgb(0, 74, 96);
}

.img-vet{
    width: 100%;
    height: 100%;
    /*border-radius: 50%; */
    background-image: url(img/Chica-Veterinaria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -150px 0;
}

/*.img-vet{
    width: 70em;
    height: 250px;
    border-radius: 50%; 
    background-image: url(img/Chica-Veterinaria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -70px 0;
}*/

.acerca-de{
    margin: 0 6em;
}

.sobre-mi{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 74, 96);
    padding: 0 .8em;
    border-radius: 2em;
}

.contenedor-texto-sobremi {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

.texto-presentacion{
    margin: 5px 0 15px 0;
    font-size: 15px;
}

.btn-leer{
    font-size: 15px;
    margin: 10px 0;
    color: white; 
    background: rgb(0, 74, 96);
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    transition: .4s;
}

.btn-leer:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*CONTENIDO 2 - SERVICIOS*/

.contenedor-servicios{
    background-color: rgb(245, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(0, 74, 96);
    height: 100vh;
}

.contenedor-texto-servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.servicios{
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    /*width: 100%;*/
    /*margin-top: 70px;*/
    background-color: rgb(0, 74, 96);
    padding: 0 .8em;
    border-radius: 2em;
}

.contenedor-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 3.5em;
}

.imagenes-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    /*border: solid 4px rgb(0, 74, 96);*/
    padding: 10px 20px;
    border-radius: 20px;
    transition: .4s;
}

.imagenes-dog:hover {
    background-color: rgb(0, 74, 96);
    color: #fff;
}


.img-sonriendo, .img-chequeo, .img-baño{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    /*margin: 50px;*/
    margin: 1em 0;
    /*margin-top: 80px;*/
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.img-sonriendo {
    background-image: url(img/perro-sonriendo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30px 0;
}

.img-chequeo {
    background-image: url(img/gato-chequeo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -40px 0;
}

.img-baño {
    background-image: url(img/perro-baño.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -65px 0;
}


.cuidado-dental{
    margin: auto;
    font-size: 30px;
    font-weight: bold;
}

.texto-dental{
    margin: 10px;
    font-size: 15px; 
}


.cuidado-dental, .texto-dental{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-reservar{
    font-size: 15px;
    margin: 10px;
    color: white; 
    background-color: rgb(0, 74, 96);
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1.5px #fff;
    transition: .4s;
}

.btn-reservar:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(0, 74, 96);
}




.contenedor-footer{
background: rgb(0, 74, 96);
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 350px;

}

.contacto{
 
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    /*width: 100%;*/
    /*margin-top: 70px;*/
}

/*.footer-icons{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
margin-top: 30px;

}

.fa-instagram, .fa-whatsapp, .fa-telegram{
    font-size: 30px;
    margin: auto;
   
}

.fa-instagram, .fa-whatsapp, .fa-telegram:hover{
    cursor: pointer;
    transition: 0.4s;
}*/

.formulario{
    background: darksalmon;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    border-radius:10px;
    text-align: left;
   /* box-shadow: 0 5px 20px -5px black;*/

   
}


.contenedor-form{
    margin-top: auto;
    display: grid;
    gap: 1em;
    width: 100%;
    color: white; 
    padding: .6em .3em;
    font-family:'Poppins';
}


.form-grupo > input {
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: none;
    cursor: pointer;
  

}
    
  


.form-submit{
    background:rgb(0, 74, 96) ;
    color: white;
    font-family:'Poppins';
    font-size: 14px;
    font-weight:300;
    text-align: center;
    padding: .5em 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover{
    opacity: 0.8;
}
